h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

a {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	margin: 0px 20px;
	border-bottom: 2px solid transparent;
	color: white;
}
a:hover {
	border-color: white;
}

p {
	font-family: "Droid Serif", serif;
}

body {
	text-align: center;
}
header {
	background-color: #F15B31;
	padding: 30px 20px;
	margin: 0;
}
nav {
	background-color: #00A6B3;
	padding: 20px 0px;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin: 40px 8px;
}
footer {
	text: uppercase;
	padding: 0px 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}
.message {
	font-family: "Raleway", sans-serif;
	float: right;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}
.name {
	color: #F15B31;
}